# Winter-break Assignment - Part 1

## The NY Taxis' dataset

### Description

The assigment is divided in two parts,

- First, complete the tasks listed in this notebook, by providing code anywhere required
- Then, prepare a written report in a separate document, with a length between 2 to 4 pages and containing the following sections:
    - Description of the dataset
    - Statistical information
    - Derived observations

The report should be based on knowledge acquired below. If you include any additional information or plots, please provide code at the end of the document.
The report should not contain any code, but only **important** information. You should make a selection of the content you want to include and try to make it *interesting*.
You also have the freedom to follow a different structure if you like.

The report should be delivered in PDF format together with the completed notebook.

The score is divided in 30% notebook and 40% report (+30% Second assignment).

Assignments cound 40 point of the final score.

**Deadline:** 13th of January 2023

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
data = sns.load_dataset("taxis")

### Understanding the dataset

#### Provide a description of each column:

- `pickup`:
- `dropoff`:
- `passengers`:
- `distance`:
- `fare`:
- `tip`:
- `tolls`:
- `total`:
- `color`:
- `payment`:
- `pickup_zone`:
- `dropoff_zone`:
- `pickup_borough`:
- `dropoff_borough`:

In [2]:
data.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

#### For the numerical colums find the `min` and `max`

In [3]:
data[['passengers', 'distance', 'fare', 'tip','tolls', 'total']].min()

passengers    0.0
distance      0.0
fare          1.0
tip           0.0
tolls         0.0
total         1.3
dtype: float64

In [297]:
data[['passengers', 'distance', 'fare', 'tip','tolls', 'total']].max()

passengers      6.00
distance       36.70
fare          150.00
tip            33.20
tolls          24.02
total         174.82
dtype: float64

#### Find the unique values for `passengers`, `color`, `payment`, `pickup_borough`, `dropoff_borough`

In [298]:
print('UNIQUE VALUES, COLORS & PLACES','\n\n','passengers =',data['passengers'].unique(), '\n','Colors =', \
      data['color'].unique(),'\n', 'Payments =', data['payment'].unique(), '\n','pickup_borough =', 
      data['pickup_borough'].unique(),'\n', 'dropoff_borough =', data['dropoff_borough'].unique())

UNIQUE VALUES, COLORS & PLACES

 passengers = [1 3 0 6 5 2 4]
 Colors = ['yellow' 'green']
 Payments = ['credit card' 'cash' nan]
 pickup_borough = ['Manhattan' 'Queens' nan 'Bronx' 'Brooklyn']
 dropoff_borough = ['Manhattan' 'Queens' 'Brooklyn' nan 'Bronx' 'Staten Island']

#### Find the first and last date of the datasets entries

In [299]:
data['pickup'] = pd.to_datetime(data['pickup'])

print('First date =', data['pickup'].min(), "\n", 'Last date =', data['pickup'].max())

First date = 2019-02-28 23:29:03
 Last date = 2019-03-31 23:43:45

#### Create a new column named `cost` taking the difference between `total` and `tip`

In [300]:
data['cost'] = data['total'] - data['tip']
data['cost']

0       10.8
1        9.3
2       11.8
3       30.8
4       12.3
        ...
6428     5.3
6429    58.8
6430    17.3
6431     6.8
6432    16.8
Name: cost, Length: 6433, dtype: float64

#### Create a new column named `duration` taking the difference between `dropoff` and `pickup`

In [301]:
data['duration'] = data['dropoff'] - data['pickup']
data['duration']

0      0 days 00:06:15
1      0 days 00:07:05
2      0 days 00:07:24
3      0 days 00:25:52
4      0 days 00:09:32
             ...
6428   0 days 00:03:34
6429   0 days 00:56:23
6430   0 days 00:19:07
6431   0 days 00:05:04
6432   0 days 00:16:40
Name: duration, Length: 6433, dtype: timedelta64[ns]

#### Find rows with incomplete information or wrong entries, e.g. `'distance'==0`, `nan` values, etc. Remove them from the dataset

In [302]:
data.loc[data['distance'] == 0,'distance'] = np.nan
data.loc[data['passengers'] == 0,'passengers'] = np.nan
data.dropna(inplace=True)
data.isna().sum()

pickup             0
dropoff            0
passengers         0
distance           0
fare               0
tip                0
tolls              0
total              0
color              0
payment            0
pickup_zone        0
dropoff_zone       0
pickup_borough     0
dropoff_borough    0
cost               0
duration           0
dtype: int64

### Statistical analysis

#### Find the frequency of the unique values for `passengers`, `color`, `payment`, `pickup_borough`, `dropoff_borough`

In [303]:
def freq(x):
    a = data.groupby(x)[x].transform('count')
    b = data[x].unique()
    c=a.unique()
    E=[]
    C=[]
    for i in b:
        C.append(str(i))
    D={C[i]:c[i] for i in range(len(C))}
    return D

In [304]:
# Put passengers, color, payment, pickup_borough, dropoff_borough in the
# function "freq"

freq('color')

{'yellow': 5269, 'green': 951}

#### What is the percentage of people giving a `tip`

In [305]:
tip = data[data['tip']>0]
tip_percentage = tip['tip'].count()/data['tip'].count()*100
print(tip_percentage.round(2),'%')

64.58 %

#### Find the proportion between the `cost` and the `tip`

In [306]:
data['cost']/data['tip']

0        5.023256
1             inf
2        5.000000
3        5.008130
4       11.181818
          ...
6428     5.000000
6429          inf
6430          inf
6431          inf
6432     5.000000
Length: 6220, dtype: float64

#### Find the proportion between `distance` and `duration`

In [307]:
data['Duration_to_hours'] = data['duration'] / pd.Timedelta(hours=1)
data['distance']/data['Duration_to_hours']

0       15.360000
1        6.691765
2       11.108108
3       17.860825
4       13.594406
          ...
6428    12.616822
6429    19.942063
6430    12.993897
6431    13.263158
6432    13.860000
Length: 6220, dtype: float64

#### Find the proportion between the `cost` and the `fare`

In [308]:
data['cost']/data['fare']

0       1.542857
1       1.860000
2       1.573333
3       1.140741
4       1.366667
          ...
6428    1.177778
6429    1.013793
6430    1.081250
6431    1.133333
6432    1.120000
Length: 6220, dtype: float64

#### Find the proportion between `fare` and `total`

In [309]:
data['fare']/data['total']

0       0.540541
1       0.537634
2       0.529661
3       0.730717
4       0.671642
          ...
6428    0.707547
6429    0.986395
6430    0.924855
6431    0.882353
6432    0.744048
Length: 6220, dtype: float64

### Visualization

#### Use the function `sns.pairplot` to visualize cross correlation

In [ ]:
sns.set(font_scale=1)
data1 = data[['tip','fare','distance','cost','total','duration']]
sns.pairplot(data1)

#### Where is there correlation?

From the plot above, we could see there are several linear correlation between among the elements.

There is a correlation between:

(1) cost and total
(2) fare and total
(3) dstance and total
(4) cost and fare
(5) fare and distance
(6) distance and cost

#### Display the normalized distribution (histogram, probability) of tips for different borough

In [ ]:
tip = []
Borough = ['Manhattan','Queens','Bronx','Brooklyn']
for i in Borough:
        a=data.loc[data['pickup_borough'] == i]
        b = a[a['tip']> 0]
        x = b['tip']
        tip.append(x)

manhattan,Queens, Bronx, Brook = tip[0],tip[1],tip[2],tip[3]
sns.displot(manhattan, bins=30).set(title='MANHATTAN')
sns.displot(Queens, bins=30).set(title='QUEENS')
sns.displot(Bronx, bins=10).set(title='BRONX')
sns.displot(Brook, bins=30).set(title='BROOKLYN')

### Additional code

Provide here after code for any additional statistical information / plots you include in the report

In [ ]:
data = data[data['tip'] < 20]
data = data[data['distance']< 35]
data = data[data['fare']< 150]
data = data[data['duration'] > '0 days 00:05:04']

In [ ]:
data.describe()
data['passengers'].sum()

In [ ]:
data['pickup_zone'].describe(),data['dropoff_zone'].describe()

In [ ]:
def autopct_generator(limit):

    def inner_autopct(pct):

        return ('{p:.1f}%'.format(p=pct)) if pct > limit else ''

    return inner_autopct

In [ ]:
explode = (0.0,0.1)
pay_pie = data['payment'].value_counts().plot.pie(title="PAYMENT", legend=True, \
                   shadow=True,explode = explode,autopct=autopct_generator(2.5),startangle=0,textprops = dict(color ="w"))

plt.legend(loc ="right",
          bbox_to_anchor =(.3, .30, 0.7, 1),
          facecolor='w',edgecolor='k')
plt.savefig('payment')

In [ ]:
explode = (0.2, 0.1, 0.1, 0.1, 0.1)
droppff_b = data['dropoff_borough'].value_counts().plot.pie(title="DROPOFF BOROUGH", legend=True, \
                   shadow=True,explode = explode,autopct=autopct_generator(2.5),startangle=0,textprops = dict(color ="w"))

plt.legend(loc ="right",
          bbox_to_anchor =(.3, .30, 0.7, 1),
          facecolor='w',edgecolor='k')
plt.savefig('dropoff')

In [ ]:
explode = (0.2, 0.0, 0.1, 0.0)
pickup_b = data['pickup_borough'].value_counts().plot.pie(title="PICKUP BOROUGH", legend=True, \
                   shadow=True,explode = explode,autopct=autopct_generator(2),startangle=0,textprops = dict(color ="w"))

plt.legend(loc ="right",
          bbox_to_anchor =(.3, .35, 0.5, 1),
          facecolor='w',edgecolor='k')
plt.savefig('pickup')

In [ ]:
Borough = ['Manhattan','Queens','Bronx','Brooklyn','Staten Island']
for i in Borough:
    Mdata = data.loc[data['pickup_borough']== i]
    for j in Borough:
        D1= Mdata[Mdata['dropoff_borough'] == j]['fare'].max()
        print(i,j,D1)

In [ ]:
Borough = ['Manhattan','Queens','Bronx','Brooklyn','Staten Island']
for i in Borough:
    Mdata = data.loc[data['pickup_borough']== i]
    for j in Borough:
        D1= Mdata[Mdata['dropoff_borough'] == j]['duration'].max()
        print(i,j,D1)

In [ ]:
def freq(x):
    a = data.groupby(x)[x].transform('count')
    b = data[x].unique()
    c=a.unique()
    E=[]
    C=[]
    for i in b:
        C.append(str(i))
    D={C[i]:c[i] for i in range(len(C))}
    return D

def group(column,group):
    return data.loc[data[column] == group]

# Group by a column, access the elements of the column and 
def pass_per(groupby,element,grp_to_sum):
    a = group(groupby,element)
    percent = (a[grp_to_sum].sum()/data[grp_to_sum].sum())*100
    return print(element, '= ', percent.round(2),'%','\n')

def fare(groupby,element,grp_to_sum):
    a = group(groupby,element)
    ma_x,mi_n,mean = a[grp_to_sum].max(), a[grp_to_sum].min(), a[grp_to_sum].mean().round(2)
    return print(element,',  the highest =',ma_x, ' | lowest = ',mi_n, '|','and Average =',mean,'\n')

def duration(groupby,element,grp_to_sum):
    a = group(groupby,element)
    ma_x,mi_n,mean = a[grp_to_sum].max(), a[grp_to_sum].min(), a[grp_to_sum].mean()
    return print( element, 'is ', mi_n,'|  ', ma_x, '|  ',mean,'time to arrive','\n')
    
    #return print('When travelling to', element, 'it can take at least ',mi_n,', atmost',ma_x,\
     #            'and averagely, ',mean,'time to arrive')

In [1]:
# Percentage of Passengers per various Borough
print('PERCNTAGE OF PEOPLE TRAVELLING TO VARIOUS BOROUGH','\n')
freq('dropoff_borough')
for key in freq('dropoff_borough'):
    pass_per('dropoff_borough',key,'passengers')

PERCNTAGE OF PEOPLE TRAVELLING TO VARIOUS BOROUGH

NameError: name 'freq' is not defined

In [ ]:
# Maximum, Minimum and Average fare to travel to each borough
print('HIGHEST, LOWEST, AVERAGE FARE FOR TRAVELLING','\n')
for key in freq('dropoff_borough'):
    fare('dropoff_borough',key,'fare')

In [ ]:
# Maximum, Minimum and Average fare to travel to each borough
print('MAXIMUM, MINIMUM, AVERAGE DURATION FOR TRAVELLING','\n')
for key in freq('dropoff_borough'):
    duration('dropoff_borough',key,'duration')

In [ ]:
sns.set(font_scale=1)
data1 = data[['fare','distance','cost','total','duration']]
sns.pairplot(data1)

In [ ]:
data['tip'].plot(kind='hist', figsize =(5,5))
data['tip'].describe()